body {
    font-family: 'Roboto', sans-serif;
  }
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .hero .logo {
    width: 140px;
    float: left;
    margin-right: 32px;
  }
  .details {
    clear: both;
  }
  .warning {
    color: rgb(213, 0, 0);
    background: #fbe9e7;
    margin-bottom: 1.0em;
    padding: 1.0em;
  }

  .warning a:visited {
    color: rgb(213, 0, 0);
  }

  .warning a:link {
    color: rgb(213, 0, 0);
  }

  .cta {
    text-align: center;
    margin: 32px;
  }
  .cta a {
    color: white;
    text-decoration: none;
    background-color: rgb(66, 133, 244);
    padding: 18px 24px;
    margin: 12px;
    min-height: 36px;
    border-radius: 4px;
    font-weight: 600;
  }
  .cta a:hover {
    background-color: rgb(66, 133, 244, 0.9);
  }
  @media (max-width: 600px) {
    .hero .logo {
      float: initial;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .container {
      margin-top: 0;
    }
    .hero {
      margin-top: 0;
      margin-bottom: 24px;
    }
  }